# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform backup files
*.tfstate.backup

# Ignore any sensitive files (e.g., SSH keys)
*.pem
*.key

# Ignore Terraform plan files
*.tfplan

# Ignore specific Terraform variables files
*.tfvars

# Ignore Terraform provider files and directories
.terraform/
.terraform.lock.hcl

# Ignore any log files created by Terraform
*.log

# Ignore crash logs
crash.log

# Ignore any temporary files
*.bak
